.list {
  &--news {
    margin-top: 20px;
    float: left;
    width: 100%;
    clear: both;

    .button {
      width: 162px;
      text-align: center;
      font-size: 14px;
      line-height: 15px;
      padding: 3px 10px;
      margin-top: 20px;
      border: solid 2px $dark-green;
      color: #fff;

      &:hover {
        background: #fff;
        color: $dark-green;
      }
    }

    .news {
      width: 50%;
      float: left;
      padding-left: 20px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 20px;

      p {
        margin-bottom: 0;
      }

      .more-link {
        color: $light-green;
        text-decoration: none;
        float: right;
      }

      h3 {
        font-size: 20px;
        font-weight: normal;
        margin: 0 10px;
        color: $dark-green;

        a {
          text-decoration: none;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .image {
        float: left;
        margin-right: 15px;
        width: 162px;
        height: 112px;
        background-color: #f5f5f5;
      }
    }
  }
}

.news-date {
  font-style: italic;
  margin-top: 0;
  &__single {
    margin-bottom: 0;
    margin-top: 10px;
  }
}
.news__back {
  margin-bottom: 20px;
  display: block;
}

.news__single--map {
  margin-top: 50px;
}