h2 {
  width: 100%;
}

a, a:visited, a:link {
  color: #396F28;
  cursor: pointer;
}

a, a:hover, a:link, a:active, input:active {
  outline: none;
  color: $light-green;
}

.logo {
  padding:15px 0;
  padding-bottom: 10px;
  width: 250px;
}

.menu-mainmenu-container {
  position: relative;
  top: 17px;
}

.line {
  &--top {
    width: 38%;
    height: 10px;
    background: $dark-green;
  }

  &--bottom {
    display: block;
    height: 10px;
    margin-left: calc((100% - 1200px) / 2);
    background-color: #396F28;
  }
}

.form--practice {
  position:relative;
  top: -150px;
  background: #fff;
  //border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
  max-width: 570px;
  margin: auto;

  .title {
    // border-radius: 5px 5px 0 0;
    padding: 35px 10px;
    background: $light-green;
    color: #fff;
    font-size: 24px;
    line-height: 20px;
  }
}

.acf-form {

  input[type=checkbox] {
    -webkit-appearance: checkbox;
  }

  .acf-field .acf-label label {
    font-size: 14px;
    font-weight: bold;
    color: $green;
  }

  .acf-field-message .acf-label label {
    font-weight: bold;
  }

  input[type=text], input[type=email], textarea {
    line-height: 40px;
    height: 40px;
    border: solid 2px rgba(0,0,0,.16);
    border-radius: 3px;
    box-shadow: none;
    font-size: 14px;
    outline: none;
    color: #666;


    &:focus {
      border: solid 2px $light-green;
    }
  }
  textarea {
    height: 100px;
    resize: none !important;
  }
}

.select2-container.-acf .select2-choices,.select2-container.-acf .select2-choice {
  border: solid 2px rgba(0,0,0,.16) !important;
  border-radius: 3px;
  box-shadow: none;
  font-size: 14px;
  background: none;
  outline: none;
  line-height: 38px;
  padding: 0;
  color: #666;

  .select2-arrow {
    border: none;
    b {
      margin-top: 8px;
      position: relative;
      right: 5px
    }
  }
}

.bold > .acf-label label {
  font-weight: bold !important;
}

.select2-container.-acf .select2-choice {
  height: auto !important;
  padding: 0;
  padding-left: 5px;
}

.select2-search {
  display: none !important
}

.select2-dropdown-open {
  .select2-choices,.select2-choice {
    border: solid 2px $light-green !important;
    border-bottom: 0px !important;
  }
}


.select2-drop-active {
  border: solid 2px $light-green !important;
  border-top: 0px !important;
}
.select2-results {
  padding: 0 !important;
  margin: 0 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
  line-height: 22px !important;
}

.select2-container.-acf .select2-search-choice-close {
  margin-top: 5px !important;
}

.select2-results .select2-result-label {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.select2-results .select2-highlighted, .select2-results li {
    background: $light-green !important;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
}

.acf-form-submit {
  border-top: solid 1px rgba(0,0,0,.16);
  text-align: right;
  padding: 30px 0;
  margin-top: 40px;

  .acf-button {
    margin-right: 12px;
  }
}

.acf-fields > .acf-field {
  &:not([data-name="zorgverleners"]) {
    border: none !important;
  }
  &[data-name="zorgverleners"] {
    border-top: solid 5px $light-green;
    margin-top: 30px;
    &>.acf-label {
      label {
        color: $light-green;
        font-size: 26px;
      }
      p {
        color: $light-green;
      }
    }
  }
}

.acf-repeater {
  .acf-button, .-minus {
    width: 30px !important;
    height:30px !important;
    text-align: center;
    line-height: 27px;
    text-indent: 1px;
    display: block !important;
    border-radius: 50%;
    border: solid 1px #ffffff;
    background: #fff;
    color: #E4E4E4;
    position: absolute;
    z-index: 100;
    right: 0px;
    text-decoration: none;
    cursor: pointer;
    &[data-event=add-row] {
      background-color: $green;
      color: $green;
      overflow: hidden;
      &:after {
        content: "+";
        display: block;
        top: -54px;
        z-index: 99;
        font-size: 24px;
        color: #fff;
        position: relative;
      }
    }
  }

  table {
    border: none;
    background: #fff;
  }

  .acf-icon:before {
    line-height: 30px !important;
  }

  .acf-row-handle.remove {
    width: 0;
    padding: 0;
    position: relative;
  }

  .-plus {
    display: none !important;
    z-index: 100;
  }

  .-minus {
    position: absolute !important;
    bottom: -38px;
    right: 0px;
    z-index: 99;
    top: auto !important;
    background-color: $green;
  }

  .acf-fields {
    padding-top: 20px !important;
    &:first-child {
      padding-top: 0 !important;
    }
    > div:last-child {
      margin-bottom: 100px;
    }
  }

  .acf-field {
    padding: 15px 0 !important;
    padding-left: 30px !important;
    border-left: solid 1px rgba(0,0,0,.16) !important;
  }
  td { border: none !important }

  .acf-row-handle
  {
    &.order {
      display: none;
    }
  }
}

.main-navigation {
  float: right;
  margin-bottom: 5px;
  margin-top: 18px;
  list-style: none;

  .current_page_item {
    a {
      color: $light-green;

      &:before {
        color: $light-green !important;
      }
    }
  }

  li {
    list-style: none;
    float: left;
    margin: 0 15px 0 15px;
    @media (max-width: 1060px) {
      margin: 0 10px;
    }
    @media (max-width: 1005px) {
      margin: 0 6px;
    }
    &.home {
      margin-left: 0;
      width: 19px;
      overflow: hidden;
      a {
        font-size: 0;
      }
      a:before {
        content: "\f015";
        font-family: FontAwesome;
        color: $dark-green;
        font-size: 20px;
        position: relative;
        top: -3px;
      }
    }

    a {
      color: #396F28;
      text-decoration: none;
      padding: 0 0 5px 0;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.3s ease-out;
      cursor: pointer;
      @media (max-width: 860px) {
        font-size: 14px;
      }
      @media (max-width: $tablet) {
        font-size: 18px;
      }
      &:hover {
        color: $light-green;

        &:before {
          color: $light-green;
        }
      }
    }
  }
}

.footer {
  display: block;
  width: 100%;
  padding: 20px 0 20px 0;
  background: #396F28;
  color: #fff;
  margin-top: 50px;

  .container {
    margin: auto;
  }

  small {
    text-align: center;
    display: block;
    //margin-top: 10px;
    a {
      color: #fff;
      text-decoration: none;
    }
    &:before {
      background: url(../images/pharmeon_logo.svg);
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      top: 5px;
    }
  }

  @media screen and (max-width:768px) {
    text-align: center;
  }
}

.menu-toggle {
  display: none;
  position: absolute;
  background: #396F28;
  color: #fff;
  padding: 5px 9px;
  border-radius: 3px;
  font-size: 24px;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $light-green;
  }
}


.article {
  margin-top: 26px;
  min-height: 290px;
  padding: 0 20px;
  box-sizing: border-box;
}

.halfwidth {
  width: 48%;
  background: none;
  float: left;
}

.content .metabox {
  position: relative;
  display: block;
  top: -150px;
  @media (max-width: $tablet) {
    top: -60px;
  }
  float: right;
  z-index: 5;
}
.content .metabox .searchbox {
  padding: 70px 20px 20px 20px;
  color: #fff;
  background: transparent url('../images/searchbox.png') center top no-repeat scroll;
  background-size: cover;
}
.content .metabox .searchbox h2, .content .metabox .latestnews h2, .content .mapholder .innermap h2, .content .searchheader h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
}
.mapholder .innermap h2, .content .metabox .searchbox h2 {
  color: #fff;
}
.content .metabox .searchbox h2, .content .searchheader h2 {
  margin-bottom: 15px;
  position: relative;
  top: 15px;
}
.content .searchheader h2 {
  color: #fff;
}
.content .metabox .searchbox p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 30px;
}
.content .metabox .searchbox select {
  background: transparent;
  color: #8a8a8a;
  width: 300px;
  font-size: 12px;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  margin-right: 10px;
  margin-bottom: 10px;

  outline: none;
  padding: 0 12px;
  line-height: 40px;
  height: 35px;
  margin: 0;
}
.content .metabox .searchbox input.zoek {
  background: #fff;
  color: #8a8a8a;
  width: 280px;
  padding: 12px 12px 9px 12px;
  font-size: 12px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  margin-right: 10px;
  margin-bottom: 15px;
}

.content .metabox .searchbox .styled-text {
  float: left
}
.content .metabox .searchbox .styled-select {
  float: left;
  width: 280px;
  margin: 0 0 15px 0;
  margin-right: 10px;
  overflow: hidden;
  background: #fff url('../images/dropdown-icon.jpg') no-repeat right center;
}
.content .metabox .searchbox #searchsubmit, .content .metabox .searchbox #zoeksubmit, .content .metabox .searchbox #praktijksubmit {
  float: left;
  border: 1px solid #fff;
  background: transparent;
  padding: 8px;
  padding-top: 9px;
  font-size: 14px;
  width: 125px;
  border-radius: 3px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "open sans", sans-serif;
  transition: all 0.3s ease-out;
}
.content .metabox .searchbox #searchsubmit:hover, .content .metabox .searchbox #zoeksubmit:hover, .content .metabox .searchbox #praktijksubmit:hover {
  cursor: pointer;
  background: #fff;
  color: #8BB800;
  transition: all 0.3s ease-out;
}

/* search tabs */

.searchbox .tabclicker {
  cursor: pointer;
}
.searchbox .tab {
  display: none;
}
.searchbox .tab.on {
  display: block;
  min-height: 102px;
  margin-top: 20px;
}
.searchbox .tabclicker {
  display: block;
  float: left;
  width: 20%;
  min-width: 100px;
  padding: 9px 0;
  text-align: center;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 3% 10px 0;
  font-size: 13px;
}
.searchbox .tabclicker.on, .searchbox .tabclicker:hover {
  background: #fff;
  color: #8BB800;
  transition: all 0.3s ease-out;
}

.searchbox .label {
  display: block;
  font-size: 13px;
  line-height: 36px;
  margin-bottom: 20px;
}

.content .metabox .latestnews {
  background: #f1f1f1;
  padding: 30px 20px;
  color: $dark-green;
}
.content .metabox .latestnews a.news:visited, .content .metabox .latestnews a.news:link, .content .metabox .latestnews a.news {
  color: $dark-green;
  text-decoration: underline;
  display: block;
  margin: 0 0 10px 0;
  font-size: 13px;
}
.content .metabox .latestnews a.news:hover {
  color: #8BB800;
  text-decoration: none;
}
.content .metabox .latestnews a.meernews:link, .content .metabox .latestnews a.meernews:visited, .content .metabox .latestnews a.meernews {
  float: right;

  border: 1px solid $dark-green;
  border-radius: 3px;

  background: transparent;
  padding: 10px 7px;
  font-size: 14px;
  width: 125px;
  color: $dark-green;
  font-weight: 400;
  font-family: "open sans", sans-serif;
  transition: all 0.3s ease-out;
  text-decoration: none;
  text-align: center;
}
.content .metabox .latestnews a.meernews:hover {
  background: $dark-green;
  color: #fff;
  transition: all 0.3s ease-out;
}

.content--text {
  padding: 0 20px;
}

.content h1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  color: #396F28;
  margin: 0 0 0px 0;
  padding-top: 30px;
  padding-bottom: 20px;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.content ul {
  padding: 0;
  li {
    list-style: none;
    padding: 8px 0;
    padding-left: 20px;
    font-size: 14px;

    &:before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background: #B4CE22;
      position: relative;
      top: -3px;
      left: -20px;
    }
  }
}

.content .mapholder {
  display: block;
  width: 100%;
  background: transparent url('../images/mapsvisual.png') center top no-repeat scroll;
  background-size: cover;
  position: relative;
  top: -40px;
  @media (max-width: $tablet) {
    top: 0;
  }
}
.content .mapholder .innermap {
  padding: 20px 20px 10px;
  color: #fff;
}

.single-praktijk--outer .mapholder {
  display: block;
  width: 100%;
  background: transparent url('../images/mapsvisual.png') center top no-repeat scroll;
  background-size: cover;
  position: relative;
  top: 0;
  margin-top: 70px;
  @media (max-width: $tablet) {
    top: 0;
  }
}
.single-praktijk--outer .mapholder .innermap {
  padding: 20px 20px 10px;
  color: #fff;
}

/*search results of praktijk overzicht*/

.content .searchheader {
  background: transparent url('../images/mapsvisual.png') center top no-repeat scroll;
  background-size: cover;
  padding: 0px 20px 1px;
  color: #fff;
  margin-top: 10px;
}
.content .searchheader h3 {
  font-size: 16px;
  color: #396F28;
  font-weight: 400;
  text-transform: uppercase;
}
.content .searchheader h3 span {
  color: #fff;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  text-transform: lowercase;
}
.content .tableholder {
  border: 1px solid #8BB800;
  border-width: 0 1px;
  width: 100%;
}
.content .tableholder table {
  width: 100%;
}
.content .tableholder table tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}
.content .tableholder table thead th {
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 15px;
  text-align: left !important;
  vertical-align: middle;
  font-size: 14px;
  border-right: 1px solid #8BB800;
}
.content .tableholder table thead th:last-child {
  border-width: 0px;
}
.content .tableholder table td {
  width: calc(100% / 6);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #5E5E5E;
  border-right: 1px solid #8BB800;
  padding: 10px 15px;
}
.content .tableholder table td a:link, .content .tableholder table td a:visited, .content .tableholder table td a {
  color: #396F28;
}
.content .tableholder table td a:hover {
  color: #8BB800;
  text-decoration: none;
}
.content .tableholder table td:last-child {
  border-width: 0px;
  width: calc(100% / 6 - 2%);
  text-align: center;
}
.content .tableholder table td:nth-child(0n+3) {
  width: calc(100% / 6 + 2%);
}
.content .tableholder table td:nth-child(0n+2) {
  width: calc(100% / 6 - 2%);
}
.content .tableholder table td:nth-child(0n+5) {
  width: calc(100% / 6+ 1%);
}
.content .tableholder table td i.ja, .single_zorgverlener .sameheight i.ja {
  font-size: 18px;
  padding: 1px 0px 1px 1px;
  color: #8BB800;
  border: 2px solid #8BB800;
  border-radius: 3px;
  position: relative;
  top: 0;
}
.content .tableholder table td i.nee, .single_zorgverlener .sameheight i.nee {
  font-size: 20px;
  padding: 0 2px;
  color: #f00;
  border: 2px solid #f00;
  border-radius: 3px;
  position: relative;
  top: 0;
}

/* table sorter */
table.tablesorter thead tr .header {
  background: transparent url('../images/bg.gif') 100% 60% no-repeat;
  cursor: pointer;
  background-position-y: 50%;
}
table.tablesorter thead tr .headerSortUp {
  background: transparent url('../images/asc.gif') 100% 60% no-repeat;
  background-position-y: 50%;
}
table.tablesorter thead tr .headerSortDown {
  background: transparent url('../images/desc.gif') 100% 60% no-repeat;
  background-position-y: 50%;
}

table#zorgverleners,
table#samenwerkingsverband {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  thead {
    background-color: $dark-green;
    color: #ffffff;
  }
  tbody {
    tr {
      &:nth-of-type(even) {
        background-color: #e4e4e4;
      }
    }
  }
  td {
    padding: 5px 10px;
  }
}

.single_zorgverlener {
  img {
    width: 100%;
  }
  .info {
    strong {
      display: block;
      color: $green;
    }
  }
}

@media screen and (max-width:1240px) {
  .logo {
    margin-left: 15px;
  }
}

@media screen and (max-width:960px) {
  .menu-toggle {
    display: block;
  }

  .main-navigation {
    width: 100%;
    margin-top: 0;
    padding-bottom: 30px;

    .primary-menu {
      display: none;
      margin: 0 10px;
      padding: 0 10px;
    }

    li {
      width: 100%;
      text-align: left;
      margin: 5px 0;
    }
  }

  .menu-toggled {
    .primary-menu {
      display: block;
    }
  }
}

.acf-image-uploader {
  .acf-button {
    width: inherit !important;
    height: inherit !important;
    text-align: inherit;
    line-height: inherit;
    text-indent: inherit;
    display: inherit !important;
    border-radius: inherit;
    border: inherit;
    background: inherit;
    color: $dark-green;
    position: inherit;
    z-index: inherit;
    right: inherit;
    text-decoration: inherit;
    cursor: inherit;
  }
}

.praktijk-info {
  h3 {
    font-size: 16px;
    color: $light-green;
  }
}

.profiel_praktijk {
  margin-top: -16px;
}

.zorginstelling-intro {
  background: #396F28;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  p {
    line-height: 1.5;
    color: #fff;
    margin: .5rem auto;
  }
}

.specialismezoeken > form > div {
  display: flex;
  flex-direction: column;
}

.samenwerkingsverband {
  margin-top: 75px;
}

.head {
  &__adres {
    padding: 10px 150px 10px 7px !important;
  }
  &__pat {
  padding: 5px 15px 10px 7px !important;
  width: 100px;
    & > span {
      font-size: 12px;
    }
}
}
