.content--search {
  width: 100%;
  margin-top: 50px;
  float: left;
}

.no-desktop {
  display: none;

  .address {
    margin-bottom: 10px;
  }
}

.praktijkzoeken,
.keywordzoeken {
  form {
    display: flex;
    flex-direction: column;
  }
}

.specialismezoeken {
  form > div{
    @media (max-width: 1080px) {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 1024px) {
  .m-640 { display: block }
  .c-3, .c-4, .c-6 {
    display: none
  }
}

@media screen and (max-width: 640px) {
  .content .tableholder table td {
    width: auto;
  }
  .content .tableholder table .c-7 {
    width: 50px !important;
    max-width: 50px !important;
    padding: 0 !important;
  }

  .m-1024 { display: block }

  .c-2, .c-3, .c-4, .c-5, .c-7.header .text {
    display: none
  }
}