.button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;

  &-primary {
    background: $dark-green;
    color: #fff;
    text-decoration: none;
  }

  &-small {
    padding: 5px 10px;
  }

  &-medium {
    padding: 10px 20px;
  }

  &-large {
    border-radius: 6px;
    padding: 0px 30px;
    line-height: 40px;
  }
}
