$font-primary : 'Hind', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-secondary : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

h1 {
	font-size: 32px;
	font-weight: bold;
	line-height: 48px;
	color: $green;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
	color: $green;
}

h3 {
	font-size: 18px;
	font-weight: bold;
	line-height: 27px;
	color: $green;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
}

h5 {
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}

h6 {
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
}
