@import 'normalize.scss';
@import 'essentials.scss';
@import 'components/colors.scss';
@import 'components/typography.scss';
@import 'components/buttons.scss';
@import 'components/variables.scss';


@import 'pages/news.scss';
@import 'pages/practice.scss';
@import 'pages/search.scss';
@import 'pages/home.scss';

/*
	****************** Content ******************
*/

.container {
  max-width: 1200px;

  .columns {

    column-count: 2;
    -moz-column-count: 2;
    p {
      &:first-of-type {
        margin-top: 0;
      }
    }
    @media screen and (max-width: $tablet) {
      column-count: 1;
      -moz-column-count: 1; 
      
    }
  }

  &--header {
    height: 240px;
    background-color: #F8F8F8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.catergorie {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.nieuws-intro {
  margin: 30px 0 40px;
}
.nieuwsbg {
  height: 200px;
  width: 300px;
  background-size: cover !important;
  background-position: center center;
  margin-bottom: 40px;
}
.nieuwsoverzicht {
  display: flex !important;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.nieuwscontent {
  padding: 10px 20px;
  margin-bottom: 40px;
  @media (max-width: $mobile) {
    padding: 0;
  }
  &--title {
    margin: 0;
    font-weight: normal;
    color: $dark-green;
  }
  a {
    color: $light-green;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.nieuws-single {
  display: flex !important;
  @media (max-width: $mobile) {
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 1.5rem;
  }
}

.contact-list {
  > li {
    margin: 0 0 15px;
  }
  &--inner {
    padding-left: 0;
    > li {
      list-style-type: none;
      margin-bottom: 5px;
    }
  }
}
.metabox-alt {
  @media (max-width: $tablet) {
    top: 0 !important;
  }
}

.acf-map {
 width: 100%;
 height: 400px;
 border: #ccc solid 1px;
 margin: 10px 2px 20px;
}

.zorgverlener {
  &-intro {
    background: $dark-green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    p {
      line-height: 1.5;
      color: #fff;
      margin: 0.5rem 0;
    }
  }
  &-foto {
    margin-top: 16px;
  }
  &-tekst {
    border-left: 1px solid #5E5E5E;
    @media (max-width: $desktop) {
      border-left: none;
    }
    li {
      color: #818181;
    }
  }
}

.row {
  margin-left: -20px;
  margin-right: -20px;
}

.backbutton {
  display: block;
  float: right;
  min-width: 100px;
  padding: 7px 0;
  text-align: center;
  border: 1px solid $dark-green;
  transition: all .3s ease-out;
  cursor: pointer;
  border-radius: 3px;
  font-size: 13px;
  margin-right: 20px;
  background: #fff;
  transition: all .3s ease-out;
  &:hover {
    border: 1px solid $dark-green;
    color: #fff;
    background: $dark-green;
    transition: all .3s ease-out;
  }
}

/*
  ****************** Footer ******************
*/
.footer {
  padding: 15px 0;
  p {
    font-size: 16px;
    text-align: left;
    color: #fff;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}
.footer-navigation {
  //margin-top: -10px;
  .footer-menu {
    //margin-top: -10px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    text-align: right;
    li {
      display: inline-block;
      padding-right: 10px;
      margin-left: 10px;
      font-size: 16px;
      border-right: 1px solid #fff;
      &:last-child {
        border-right: 0;
      }
    }
  }
}
.powered {
  margin: 16px 0;
}

.flex-row {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
}



/*
  ****************** CF7 ******************
*/

.wpcf7-text,
.wpcf7-textarea {
  width: 100%;
  border: 1px solid #818181;
  padding: 5px;
}

.wpcf7-submit {
  border: 1px solid #396F28;
  border-radius: 3px;
  background: 0 0;
  padding: 10px 7px;
  font-size: 14px;
  width: 125px;
  color: #396F28;
  font-weight: 400;
  font-family: "open sans",sans-serif;
  transition: all .3s ease-out;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  &:hover {
    background: #396F28;
    color: #fff;
    transition: all .3s ease-out;
  }
}

p {
  color: #818181;
}

